<div class="welcomePartial w-100 d-flex justify-content-between">
	<h1 class="d-inline">Welcome <%= session.name %></h1>
	<button class="btn btn-light my-2 logOutButton" type="button">Log out</button>
</div>